.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navbar-transparent {
  background-color: transparent !important;
  padding-top: 5px;
  box-shadow: none;
  position: absolute !important;
  left: 0px;
  /* display: none !important; */
  right: 0px;
  top: 0px;
  z-index: 10;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  border-radius: 2px !important;
  margin-right: -3px !important;
  padding: 10px 3px 10px 7px !important;
}
